{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}<i class="fas fa-fw fa-file-export"></i> Interface Exporter{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/exporter.css') }}" />
{% endblock %}
{% block main %}
    <div id="message-holder"></div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">Package</th>
                <th scope="col">Filename</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
            {% for file in files %}
                <tr>
                    <td>{{ file.package }}</td>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.date }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ file.filepath }}" target="_blank" class="btn btn-secondary btn-block btn-sm text-nowrap">
                                <i class="fas fa-download mr-1"></i> Download
                            </a>
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-secondary edit-actions__dropdown-toggler dropdown-toggle dropdown-toggle-split"><span class="sr-only">Toggle Dropdown</span></button>
                            <div class="edit-actions__dropdown dropdown-menu dropdown-menu-right">
                                <form class="delete-archive" action="{{ path('app_exporter_delete') }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input type="hidden" name="filename" value="{{ file.filename }}" />
                                    <a href="#" class="dropdown-item delete-link">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/exporter.js') }}"></script>
{% endblock %}
